#page-structure {
  height: 100vh;
  background-image: url(/img/bg_main.gif);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  /* background-attachment: fixed; */

  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;
}

#loader-text {
  font-size: 20px;
}

.stuco_logo {
  position: relative;
  width: 7rem;
  margin-left: 50px;
  margin-top: 30px;
}

@media only screen and (max-width: 480px) {
  #page-structure {
    background-image: url(/img/bg_mobile.gif);
    height: 100vh;
  }

  #loader-text {
    font-size: 15px;
  }

  .stuco_logo {
    width: 4rem;
  }
}

/* Events
/* Font */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

/* Design */
/* *,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
}

body {
  color: #272727;
  font-family: "Quicksand", serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.main {
  max-width: 1200px;
  margin: 30px auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: white;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #0c0909 40%, #3f3e3d 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  text-align: justify;
}
.made_by {
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}

.event_heading {
  font-size: 50px;
  letter-spacing: 10px;
  margin: 20px;
}

.visible {
  visibility: visible;
  opacity: 100;
} */

.event_heading {
  font-size: 50px;
  letter-spacing: 10px;
  margin: 30px;
}
.card-title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: white;
  margin: 12px;
}

.card-text:last-child {
  font-size: 15px;
  text-align: justify;
  color: white;
}

.card-body {
  padding: 1rem;
  background: linear-gradient(to bottom left, #0c0909 40%, #3f3e3d 100%);
}

.event_spacing {
  padding: 50px;
}

.card-footer {
  /* background: linear-gradient(to bottom left, #0c0909 40%, #3f3e3d 100%); */
  background-color: rgb(27, 27, 27);
}

.card-img-top {
  width: auto;
}

@media only screen and (max-width: 480px) {
  .card-img-top {
    height: 350px;
  }
}
.mech {
  padding: 10px;
}

.popup:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#events {
  background-color: black;
}
/* button */
/* CSS */
/* button .initial {
  opacity: 100;
  */

button.initial {
  opacity: 100 !important ;
  pointer-events: none;
  transition: none;
}
.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "REGISTER";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #ff013c 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.pointer {
  cursor: pointer;
}

.button-49 {
  width: 175px;
  height: 54px;
  line-height: 58px;
}
.btn_adjust {
  /* margin: 10px; */
  background: linear-gradient(45deg, transparent 5%, #9f1bb9 5%);
}

.btn_adjust::after {
  background: linear-gradient(
    45deg,
    transparent 3%,
    #00e6f6 3%,
    #00e6f6 5%,
    #9f1bb9 5%
  );
}



/* CSS */
.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-73:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.button-73:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

/* Sponsors */
h1 {
  text-align: center;
}
.outer-grid {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.inner-grid {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.inner-grid img {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
}
@media screen and (max-width: 800px) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .inner-grid {
    flex: 100%;
    max-width: 100%;
  }
}

#sponsors {
  /* background-image: url(/img/sp.gif); */
  background-color: white;
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .sponsors_img {
    width: 250px;
    margin: auto;
  }
}

.sponsors_heading {
  text-align: center;
  color: #333333;
  font-size: 50px;
  margin: 40px auto;
  width: fit-content;
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  font-family: "Fira Code", monospace;
}

/* .platinum {
  color: #e5e4e2;
}
.gold {
  color: #ffd700;
} */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin: 20px;
  text-align: center;
  align-items: center;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  /* width: 100%; */
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Footer Icons */
#contact {
  background-color: #011a32;
  padding: 50px;
  height: 275px;
}

.contact_head {
  font-size: 40px;
  margin-bottom: 25px;
}

.contact_text {
  color: #ffffff;
  font-size: 15px;
  margin-top: 80px;
  text-align: center;
}

/* Let's style the wrapper in such away that, 
it should always be at the center of the browser */
.wrapper {
  margin: 10px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  /* width: 550px; */
}

/* #footer {
  z-index: 999;
} */

/* @media only screen and (max-width: 480px) {
  .wrapper {
    position: relative;
    margin-left: 150px;
    margin-bottom: 10px;
  }
} */

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #d8e2dc;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*yotube*/
.wrapper ul li:hover.youtube {
  border: 5px solid #ff0000;
  box-shadow: 0 0 15px #ff0000;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube {
  color: #ff0000;
  text-shadow: 0 0 15px #ff0000;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

/* media queries */

@media screen and (max-width: 640px) {
  .wrapper {
    width: 350px;
    margin-left: 34px;
  }
  .wrapper ul li {
    margin-top: 10px;
  }
  .wrapper ul li.google {
    margin-left: 60px;
  }
}

@media screen and (max-width: 340px) {
  .wrapper {
    width: 150px;
    margin-left: 34px;
  }
  .wrapper ul li {
    margin: 15px;
  }
  .wrapper ul li.google {
    margin-left: 15px;
  }
}

/* Intra events */

#intra {
  background-color: #0c0909;
}

.btn a {
  position: relative;
  color: #f5f5f5;
  height: 70px;
  width: 220px;
  display: block;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  background-image: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
}
.btn a:hover {
  animation: rotate 0.4s linear infinite;
}
@keyframes rotate {
  100% {
    filter: hue-rotate(-360deg);
  }
}
.btn a span {
  height: 88%;
  width: 96%;
  background: #111;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  line-height: 62px;
  font-size: 25px;
  transform: translate(-50%, -50%);
}

p {
  color: white;
}

.glass {
  background: rgba(6, 44, 75, 0.301);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50%;
  text-align: center;
  margin: 10px;
  padding: 50px;
}

.bg_events {
  background-image: url(/img/intra_bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 480px) {
  .glass {
    width: 90%;
    font-size: small;
  }

  h4 {
    font-size: 12px;
  }
}

.cust_img {
  width: 150px;
}
